.aboutSection {
  background-color: rgba(77, 116, 76, 0.7);
}
.aboutSection__wrapper {
  padding: 200px 0px;
}
.aboutSection__header {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 45px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.aboutSection__header.activeAnimation {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.aboutSection__header::after {
  content: "";
  background-color: #fff;
  height: 5px;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.aboutSection__base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutSection__paragraph {
  padding-left: 40px;
  font-size: 18px;
  line-height: 30px;
}
.aboutSection__paragraph--wrapper {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.aboutSection__paragraph--wrapper.activeAnimation {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.aboutSection__image {
  height: 450px;
  border-radius: 20px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.aboutSection__image.activeAnimation {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

@media (max-width: 1320px) {
  .aboutSection__wrapper {
    padding: 150px 15px;
  }
}
@media (max-width: 1110px) {
  .aboutSection__wrapper {
    padding: 100px 15px;
  }
}
@media (max-width: 990px) {
  .aboutSection__base {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutSection__image {
    display: none;
  }
  .aboutSection__paragraph {
    padding-left: 0px;
  }
}
@media (max-width: 540px) {
  .aboutSection__header {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 25px;
  }
  .aboutSection__wrapper {
    padding: 50px 15px;
  }
  .aboutSection__header::after {
    margin-top: 15px;
  }
  .aboutSection__paragraph--wrapper {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    -webkit-transition: none;
    transition: none;
    opacity: 1;
  }
}
@media (max-width: 320px) {
  .aboutSection__wrapper {
    padding: 20px 15px;
  }
}