.footer__bottom {
  background-color: rgba(43, 85, 43, 0.9);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container {
  width: 100%;
  font-size: 16px;
}

@media (max-width: 599px) {
  .footer__container {
    text-align: center;
  }
}