.activation {
  background-color: #4d744c;
}

.header {
  padding: 20px 0px 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__language {
  font-size: 22px;
  cursor: pointer;
  z-index: 55;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__burger.active {
  cursor: pointer;
}
.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  width: 125px;
  height: 50px;
  -webkit-transition: background-position-x 0.9s linear;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.header__list li a {
  font-size: 22px;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  font-family: Montserrat;
}
.header__list li:hover {
  background: url(../images/line.svg);
  -webkit-animation: line 2s;
          animation: line 2s;
}
.header__list li:hover a {
  color: #b0ddbb;
}
.header__list > *:not(:last-child) {
  margin-right: 20px;
}
.header__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
}
.header__langWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang-ru {
  margin-right: 5px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger__list:last-child {
    margin-right: 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__body {
    height: 50px;
    padding: 0 10px;
  }
  .header__menu {
    position: fixed;
    top: -130%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #99A799;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    top: 0;
    padding: 0;
  }
  .header__list > *:not(:last-child) {
    margin-right: 0px;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list li {
    margin: 20px 0px 20px 0px;
    text-align: center;
    width: 100%;
  }
  .header__list li a {
    font-size: 30px;
  }
  .header__list li:hover {
    background: none;
    -webkit-animation: none;
            animation: none;
  }
  .header__list li a:hover {
    color: #E2C2B9;
    background: none;
    -webkit-animation: none;
            animation: none;
  }

  .wrapper__header {
    margin-top: 60px;
  }

  body.lock {
    overflow: hidden;
  }
}
#ru, #en {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#ru:hover, #en:hover {
  color: #b0ddbb;
}