$white-color: #fff;
$bg-color: rgba(43, 85, 43, 0.9);

.footer{
    &__bottom{
        background-color: $bg-color;
        height: 60px;  
        display: flex;
        align-items: center;  
    }

    &__container{
        width: 100%;
        font-size: 16px;
    }     
}

@media(max-width:599px){
    .footer{
        &__container{
            text-align: center;
        }
    }    
}