$bg-color: rgba(77, 116, 76, 0.8);
$bg-color-title: rgba(77, 116, 76, 0.3);
$bg-button-search: rgba(77, 116, 76, 0.4);
$bg-input-search: rgba(43, 87, 42, 0.5);
$bg-button-dark: rgba(44, 45, 66, 0.034);
$bg-nextdays-item: rgba(77, 116, 76, 0.5);
$black-color: #000000;

.input__search {
    background: $bg-input-search;
    border: 1px solid $bg-button-dark;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 13px 58px 13px 15px;
    outline: none;
}

.button__search {
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 13.38px 20px 13.38px 20px;
    font-weight: bold;
    width: 100px;
    opacity: 1;
    border: 1px solid $bg-button-dark;
    background: $bg-button-search;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.button__search:hover {
    background-color: rgba(20, 41, 19, 0.5);
}

.addfavorite__button {
    background: none;
}

.favoritesadd__img {
    width: 45px;
    height: 45px;
}

.value{
    font-size: 30px;
    line-height: 37px;
    font-weight: bold;
}

.search__line{
    display: flex;
}

.item__content{
    font-size: 30px;
    line-height: 37px;
    font-weight: bold; 
}

.nextdays__item-degree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
}

.nextdays__item-degree>*:not(:last-child){
    padding: 0px 8px 0px 0px;
}

.forecastSection{
    background-color: $bg-color;
    padding: 200px 0px;
    
    &__search{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.title{
    &__city{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 44px;
        line-height: 54px;
    }

    &__date{
        margin-top: 4px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
}

.weather__block{
    padding: 20px 0px 0px 0px;

    &-title{
        display: flex;
        justify-content: space-between;       
    }

    &-nextdays{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 55px;
    }

    &-today{        
        display: flex;
        align-items: center;
        margin-top: 15px;
        justify-content: space-between;
    }
}

.sun{
    &__sunrise, &__sunset{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.block__today{ 
    &-degree{
        font-size: 160px;
        line-height: 160px;
        align-self: center;
    }

    &-description{
        box-sizing: border-box;
        width: 525.25px;
        padding: 81.5px 25px;
        background-color: $bg-color-title;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &-description>*:not(:last-child){
        margin-bottom: 37px;
    }

    &-image{
        width: 96px;
        height: 96px;
    }

    &-overcast{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-sun{
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }

    &-title{
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        background-color: $bg-color-title;
        border-radius: 30px;
        padding: 45.5px 25px;
        width: 525.25px;
        box-sizing: border-box;
    }
}

.block-nextdays{
    &__item{
        border-radius: 10px;
        background-color: $bg-nextdays-item;
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 150px;
        
        &-degreemax, &-degreemin{
            font-size: 22px;  
            font-weight: 500;
        }

        &-degreemin{
            color: $black-color;
            opacity: 0.7;
        }

        &-description{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &-title{
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            padding: 10px 0px 10px 0px;
        }
    }
}

.description__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:1320px){
    .forecastSection{
        padding: 150px 15px;
    }  
}

@media(max-width:1110px){
    .forecastSection{
        padding: 100px 15px;
    }

    .weather__block{
        &-today{
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
        }

        &-today>*:not(:last-child){
            margin:20px 0px 30px 0px;
        }

        &-nextdays{
            flex-wrap: wrap;
            align-items: center;
        }

        &-nextdays>*:not(:last-child){
            margin-bottom: 20px;
        }
    }
  
}

@media(max-width:599px){
    .forecastSection__search {
        justify-content: center;
    }

    .title__city {
        font-size: 34px;
        line-height: 35px;
    }

    .block__today{
        &-title{
            width: 100%;
        }

        &-degree {
            font-size: 150px;
            line-height: 150px;
        }

        &-overcast {
            justify-content: space-around;
        }

        &-sun {
            justify-content: space-around;
            margin-top: 5px;
        }

        &-description {
            width: 100%;
            padding: 25px;
        }
    }

    .item__content, .value {
        font-size: 25px;
        line-height: 30px;
    }
}

@media(max-width:540px){
    .forecastSection{
        padding: 50px 15px; 
    }
}

@media(max-width:485px){
    .block__today{
        &-degree {
            font-size: 90px;
            line-height: 90px;
        }
    }

    .item__content, .value {
        font-size: 20px;
        line-height: 25px;
    }
}

@media(max-width:425px){
    .weather__block{
        &-nextdays{
            flex-direction: column;
            margin-top: 30px;
        }

        &-nextdays>*:not(:last-child){
            margin-bottom: 10px;
        }
    }

    .block-nextdays{
        &__item{
            width: 90%;
            padding: 7px 10px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-img{
                width: 50px;
                height: 50px;
            }

            &-title{
                font-size: 17px;
                padding: 0px;
            }

            &-degreemax, &-degreemin {
                font-size: 18px;
            }
        }

        &__item-description {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .nextdays__item-degree {
        padding: 0px;
    }
}

@media(max-width:365px){
    .input__search {
        padding: 0px 0px 0px 15px;
    }

    .title__city {
        font-size: 24px;
        line-height: 25px;
    }

    .favoritesadd__img {
        width: 35px;
        height: 35px;
    }

    .weather__block-title {
        justify-content: center;
    }
}

@media(max-width:330px){
    .forecastSection{
        padding: 20px 15px;
    }

    .block__today{
        &-degree {
            font-size: 70px;
            line-height: 70px;
        }
    }
}

@media(max-width:320px){
    .forecastSection{
        padding: 20px 15px;
    }
}
