$white-color:#fff;

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: $white-color;
    border: none;
}

.container{
	max-width: 1260px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../images/icon_top.png') no-repeat;
}

.scrollup:hover{
    opacity: 0.5;
}

button{
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}